.container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.controls {
  height: 104px;
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, minmax(0, auto));
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
}
