.container {
  position: absolute;
  top: 0;
  width: 100%;
}

.row {
  display: flex;
  gap: 12px;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 18px 2rem 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset {
  animation: rotate360 1s ease;
}

@keyframes rotate360 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-0deg);
  }
}
