.container {
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar {
  height: 60px;
  padding: 0 2rem;
  display: flex;
  /* border-bottom: 1px solid #e7e7e7; */
  justify-content: flex-end;
  align-items: center;
}
