.container {
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar {
  width: 100%;
  height: 60px;
  padding: 18px 2rem 0 10px;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #e7e7e7; */
  /* justify-content: flex-end; */
  align-items: center;
}
