@font-face {
  font-family: rubik;
  src: url('/font/Rubik.ttf') format('truetype');
}

html {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: rubik;
}
