@font-face {
  font-family: rubik;
  font-weight: 900;
  src: url('/font/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: rubik;
  font-weight: 700;
  src: url('/font/Rubik-Bold.ttf') format('truetype');
}

html {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: rubik;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
}
